<section class="blurb">
  <p>{% include minibio_en.html %}</p>
</section>

<section id="footer">
  <ul class="icons">
    <li><a href="http://twitter.com/jmfaerman" class="fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    <li><a href="http://fb.com/julio.faerman" class="fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
    <li><a href="http://github.com/jfaerman" class="fa-github" target="_blank"><span class="label">Github</span></a></li>
    <!--
    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
    -->
  </ul>
</section>
