<!-- Header -->
  <header id="header">
    <h1><a href="/">Julio M. Faerman</a></h1>
    <nav class="links">
      <ul>
        <li><a href="/index.html">Blog</a></li>
        <li><a href="/talks.html">Talks</a></li>
        <li><a href="/workshops.html">Workshops</a></li>
        <li><a href="/about.html">About</a></li>
        <!--
        <li><a href="#">Contact</a></li>
        -->
      </ul>
    </nav>
    <nav class="main">

      <ul>
        <!--
        <li class="search">
          <a class="fa-search" href="#search">Search</a>
          <form id="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
          </form>
        </li>

        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
        </li>
        -->
      </ul>
    </nav>

  </header>
